body{
    
    background-color: hsl(217, 54%, 11%);
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.outer-container{
    background-color: hsl(216, 50%, 16%);
    width: 24%;
    display : flex;
    flex-direction:column;
    border-radius:20px;
}
#NFT{
    border-radius:20px;
}
.image{
    order:1;
    display:flex;
    align-items:center;
    justify-content: center;
    min-height:350px;
}
.hidden_image{
    width:20%;
    height:39%;
    border-radius:30px;
    position:absolute;
    filter:blur(50px);
    transition: 100ms filter linear;
    display:flex;
    justify-content:center;
    align-items:center;
}
.hidden_image:hover{
    filter:none;
    background-color:cyan;
    opacity:0.5;
}
.NFT_Title{
    order:2;
    margin-left:8%;
    font-size: 30px;
    color:hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
}
.NFT_Description{
    order:3;
    font-size: 18px;
    margin-left:8%;
    margin-right:8%;
    color: hsl(215, 32%, 27%);
    font-family: 'Outfit', sans-serif;
}
.NFT_Details{
    order:4;
    margin-left:8%;
    margin-right:8%;
    margin-bottom:5%;
}
hr{
    order:5;
    border-color:hsl(215, 32%, 27%);
    border-style: solid none none none;
    border-width: 2px;
    width: 85%;
}
.NFT_Avatar{
    width:15%;
    margin-left:8%;
}
.NFT_CreatorInfo{
    order:6;
    display:flex;
    justify-content: space-between;
    margin-right:8%;
    margin-bottom:8%;
}
p,span{
    font-family:'Outfit';
}